apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
spec:
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: db
        image: postgres:latest
        ports:
        - containerPort: 5432
          hostPort: 5432
          protocol: TCP
        volumeMounts:
        - name: dbvol
          mountPath: /var/lib/mysql
        envFrom:
        - secretRef:
            name: mysql
            optional: true
      volumes:
      - name: dbvol
        persistentVolumeClaim:
          claimName: db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bot
spec:
  selector:
    matchLabels:
      app: bot
  template:
    metadata:
      labels:
        app: bot
    spec:
      containers:
      - name: bot
        image: registry.uniproject-tech.net/yuito-it/slack-twitter-bot:1.0.8
        envFrom:
        - secretRef:
            name: bot
            optional: true
